*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    overflow-x: hidden;
}

.header {
    background-color: #212121;
}

.navbar {
    display: flex;
    justify-content: space-between;
    box-shadow: 2px 10px 10px rgba(0, 0, 0, 0.5);
}

.hamburger {
    display: none;
}

.nav-logo {
    padding: 1rem;
    color: #fff;
    text-decoration: none;
    font-size: 1.8rem;
    font-weight: 900;
}

.nav-menu {
    display: flex;
    padding: 1rem;
    list-style-type: none;
}

.nav-item {
    margin-right: 2rem;
    position: relative;
    top: 35%;
}

.nav-link {
    color: #fff;
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 600;
}

.timer-h1 {
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.timer-h1 span {
    color: aqua;
}

.list-ul {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    list-style-type: none;
    margin: 2rem;
    gap: 1rem;
}

.list-item {
    background-color: #a7a7a7;
    text-align: center;
    border-radius: 10px;
    padding: 1rem;
    text-transform: capitalize;
    font-size: 1.1rem;
    font-style: italic;
    transition: all 0.3s ease-in-out;
    position: relative;
    box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.5);
}

.list-item:hover {
    transform: scale(1.1);
    cursor: default;
    font-size: 1.3rem;
}

.remove-btn {
    background: none;
    border: none;
    position: absolute;
    right: 5%;
    top: 0%;
    color: #aa0000;
    font-size: 1.2rem;
    display: none;
    cursor: pointer;
}

.list-item:hover .remove-btn {
    display: block;
}

@media only screen and (max-width: 900px) {
    .hamburger {
        display: block;
        position:fixed;
        right: 3%;
        top: 2.5%;
        cursor: pointer;
    }

    .nav-menu {
        z-index: 1;
        position: absolute;
        top: 6.9%;
        background-color: #212121;
        flex-direction: column;
        width: 100%;
        text-align: center;
        padding: 1.5rem;
        right: -100%;
        transition: all 1s ease-in-out;
        box-shadow: 1px 8px 8px rgba(0, 0, 0, 0.5);
        border-radius: 10px;
    }

    .nav-item {
        margin: 0.6rem;
    }

    .nav-menu.active {
        right: 0%;
    }

    .bar {
        background-color: #fff;
        height: 0.1rem;
        width: 1.7rem;
        display: block;
        margin: 0.4rem;
        transition: all 0.5s ease-in-out;
    }

    .hamburger.active .bar:nth-child(1) {
        background-color: aqua;
        transform: translateY(4px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(2) {
        display: none;
    }

    .hamburger.active .bar:nth-child(3) {
        background-color: aqua;
        transform: translateY(-4px) rotate(-45deg);
    }
}
