@import url('http://fonts.cdnfonts.com/css/lilly');

.App {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    margin-top: 30px;
}

h1 {
    font-family: 'Lilly', sans-serif;
    font-size: 50px;
}

.input-box input {
    height: 35px;
    width: 250px;
    font-size: 20px;
    padding-left: 10px;
    border-radius: 5px;
    border: 1px solid #212121;
    outline: none
}

.input-box button, button {
    height: 35px;
    font-size: 20px;
    margin-left: 10px;
    border-radius: 5px;
    border: none;
    color: whitesmoke;
    background-color: forestgreen;
    box-shadow: 2px 2px 5px rgb(74, 182, 74);
    cursor: pointer;
}

.input-box button:active, button {
    box-shadow: none;
}

.extra {
    padding-top: 20px;
    display: flex;
    justify-content: space-around;
    gap: 10px;
}

.output-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}
